<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>二手哥-我的钱包</title>
  <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
  <link href="css/style-metronic.css" rel="stylesheet" type="text/css"/>
  <link href="css/style.css" rel="stylesheet" type="text/css"/>
  <link href="css/style-responsive.css" rel="stylesheet" type="text/css"/>
  <link href="css/plugins.css" rel="stylesheet" type="text/css"/>
  <link href="css/pages/tasks.css" rel="stylesheet" type="text/css"/>
  <link href="css/themes/light.css" rel="stylesheet" type="text/css" id="style_color"/>
  <link href="css/print.css" rel="stylesheet" type="text/css" media="print"/>
  <link href="css/pages/error.css" rel="stylesheet" type="text/css"/>
  <link href="css/custom.css" rel="stylesheet" type="text/css"/>
</head>
<body class="page-header-fixed page-boxed">
  <!--头部通顶开始-->
  <% include ../common/header.ejs %>
  <!--头部通顶结束-->

  <div class="clearfix"></div>
  <div class="container">
    <div class="page-container">
      <!--工具栏全站通开始-->
      <% include ../common/sidebar.ejs %>
      <!--工具栏全站通结束-->

      <div class="page-content-wrapper">
        <div class="page-content" style="height: 3000px">
            <div class="row">
                <div class="col-md-12 page-404">
                    <div class="number">
                        404
                    </div>
                    <div class="details">
                        <h1>码农正没日没夜的撸码中....</h1>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <!--底部全站通开始-->
      <% include ../common/footer.ejs %>
      <!--底部全站通结束-->
    </div>
  </div>

  <script src="plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
  <script src="plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
  <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
  <script src="plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
  <script src="plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
  <script src="plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
  <script src="plugins/jquery.blockui.min.js" type="text/javascript"></script>
  <script src="plugins/jquery.cokie.min.js" type="text/javascript"></script>
  <script src="plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
  <!-- END CORE PLUGINS -->
  <!-- BEGIN PAGE LEVEL SCRIPTS -->
  <script src="scripts/core/app.js"></script>
</body>
</html>