<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>收货地址</title>
  <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
  <link href="plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
  <link href="css/style-metronic.css" rel="stylesheet" type="text/css"/>
  <link href="css/style.css" rel="stylesheet" type="text/css"/>
  <link href="css/style-responsive.css" rel="stylesheet" type="text/css"/>
  <link href="css/plugins.css" rel="stylesheet" type="text/css"/>
  <link href="css/pages/tasks.css" rel="stylesheet" type="text/css"/>
  <link href="css/themes/light.css" rel="stylesheet" type="text/css" id="style_color"/>
  <link href="css/print.css" rel="stylesheet" type="text/css" media="print"/>
  <link href="css/custom.css" rel="stylesheet" type="text/css"/>
</head>
<body class="page-header-fixed page-boxed">
  <!--头部通顶开始-->
  <% include common/header.ejs %>
  <!--头部通顶结束-->

  <div class="clearfix"></div>
  <div class="container">
    <div class="page-container">
      <!--工具栏全站通开始-->
      <% include common/sidebar.ejs %>
      <!--工具栏全站通结束-->

      <div class="page-content-wrapper">
        <div class="page-content" style="height: 3000px">我这里是收货地址</div>
      </div>

      <!--底部全站通开始-->
      <% include common/footer.ejs %>
      <!--底部全站通结束-->
    </div>
  </div>
</body>
</html>