<div class="header navbar navbar-fixed-top">
    <div class="header-inner">
        <a class="navbar-brand" href="/">
            <img src="img/logo.png" alt="logo" class="img-responsive"/>
        </a>
        <% if (user) { %>
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown user">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img alt="" src="img/head/dog-1.png" style="width: 40px;height: 40px"/>
                    <span class="username"><%= user.username %></span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/user">
                            <i class="fa fa-user"></i> 我的闲货
                        </a>
                    </li>
                    <li>
                        <a href="/user">
                            <i class="fa fa-calendar"></i> 我的订单
                        </a>
                    </li>
                    <li>
                        <a href="/user">
                            <i class="fa fa-envelope"></i> 我的钱包
							<span class="badge badge-danger">
								 ￥33.33
							</span>
                        </a>
                    </li>
                    <li>
                        <a href="/user">
                            <i class="fa fa-comment"></i> 我的消息
							<span class="badge badge-danger">
								 3
							</span>
                        </a>
                    </li>

                    <li class="divider">
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="fa fa-key"></i> 退出
                        </a>
                    </li>
                </ul>

            </li>
        </ul>
        <% } else { %>
        <div class="nav-login-bar">
            <i class="fa fa-user"></i>
            <a href="/login" clas="">hi,请登录</a><a href="/register" class="pushL15">注册</a>
            <a class="pushL30" href="/user" style="background-color: #047AD8;">我的二手哥</a>
        </div>
        <% } %>
    </div>
    <div class="main-nav-bar">
        <a href="#">闲货市场</a>
    </div>
</div>