<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
<!-- add "navbar-no-scroll" class to disable the scrolling of the sidebar menu -->
<!-- BEGIN SIDEBAR MENU -->
<ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
<!--<li class="sidebar-toggler-wrapper">
  &lt;!&ndash; BEGIN SIDEBAR TOGGLER BUTTON &ndash;&gt;
  <div class="sidebar-toggler hidden-phone">
  </div>
  &lt;!&ndash; BEGIN SIDEBAR TOGGLER BUTTON &ndash;&gt;
</li>
<li class="sidebar-search-wrapper">
  &lt;!&ndash; BEGIN RESPONSIVE QUICK SEARCH FORM &ndash;&gt;
  <form class="sidebar-search" action="extra_search.html" method="POST">
    <div class="form-container">
      <div class="input-box">
        <a href="javascript:;" class="remove">
        </a>
        <input type="text" placeholder="Search..."/>
        <input type="button" class="submit" value=" "/>
      </div>
    </div>
  </form>
  &lt;!&ndash; END RESPONSIVE QUICK SEARCH FORM &ndash;&gt;
</li>-->
<li class="start">
  <a href="/">
    <i class="fa fa-home"></i>
    <span class="title">首页</span>
    <span class="selected"></span>
  </a>
</li>
<li class="active">
  <a href="javascript:;">
    <i class="fa fa-users"></i>
    <span class="title">
      会员信息
    </span>
  </a>
  <ul class="sub-menu">
    <li>
      <a href="/user">
        <i class="fa fa-user"></i>
        个人信息
      </a>
    </li>
    <li>
      <a href="/user">
        <i class="fa fa-shopping-cart"></i>
        收货地址
      </a>
    </li>
  </ul>
</li>
<li class="active">
  <a href="/user">
    <i class="fa fa-gift"></i>
    <span class="title">闲货信息</span>
  </a>
  <ul class="sub-menu">
    <li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="">
      <a href="/user">
          <span class="title">我有闲货</span>
      </a>
    </li>
  </ul>
</li>
<li class="active">
  <a href="/user">
    <i class="fa fa-gift"></i>
    <span class="title">订单信息</span>
  </a>
  <ul class="sub-menu">
    <li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="">
      <a href="/user">
        <span class="title">闲货订单</span>
      </a>
      <a href="/user">
        <span class="title">我的订单</span>
      </a>
    </li>
  </ul>
</li>
<li class="last active">
  <a href="/user">
    <i class="fa fa-bar-chart-o"></i>
    <span class="title">账务信息</span>
  </a>
  <ul class="sub-menu">
    <li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="">
      <a href="/user">
        <i class="fa fa-envelope"></i>
        <span class="title">我的钱包</span>
      </a>
    </li>
  </ul>
</li>
</ul>
</div>
</div>