<div class="page-sidebar-wrapper">
<div class="page-sidebar navbar-collapse collapse">
<!-- BEGIN SIDEBAR MENU -->
<ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
<li class="sidebar-toggler-wrapper">
  <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
  <div class="sidebar-toggler hidden-phone">
  </div>
  <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
</li>
<li class="sidebar-search-wrapper">
  <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
  <form class="sidebar-search" action="extra_search.html" method="POST">
    <div class="form-container">
      <div class="input-box">
        <a href="javascript:;" class="remove">
        </a>
        <input type="text" placeholder="Search..."/>
        <input type="button" class="submit" value=" "/>
      </div>
    </div>
  </form>
  <!-- END RESPONSIVE QUICK SEARCH FORM -->
</li>
<li class="start ">
  <a href="index.html">
    <i class="fa fa-home"></i>
    <span class="title">首页</span>
  </a>
</li>
<li>
  <a href="javascript:;">
    <i class="fa fa-shopping-cart"></i>
        <span class="title">商品中心</span>
        <span class="arrow "></span>
  </a>
  <ul class="sub-menu">
    <li>
      <a href="ecommerce_index.html">
        <i class="fa fa-bullhorn"></i> 我的商品
      </a>
    </li>
    <li>
      <a href="ecommerce_orders.html">
        <i class="fa fa-shopping-cart"></i> 商品审核
      </a>
    </li>
    <li>
      <a href="ecommerce_orders_view.html">
        <i class="fa fa-tags"></i> 商品分类
      </a>
    </li>
    <li>
      <a href="ecommerce_products.html">
        <i class="fa fa-sitemap"></i> 商品品牌
      </a>
    </li>
  </ul>
</li>
<li>
  <a href="javascript:;">
    <i class="fa fa-gift"></i>
						<span class="title">
							订单中心
						</span>
						<span class="arrow">
						</span>
  </a>
  <ul class="sub-menu">
    <li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="我自己商品的订单">
      <a href="http://keenthemes.com/preview/index.php?theme=metronic_ecommerce" target="_blank">
								<span class="title">
									我的订单
								</span>
      </a>
    </li>
    <li class="tooltips" data-container="body" data-placement="right" data-html="true" data-original-title="查看用户之间生成的订单">
      <a href="http://keenthemes.com/preview/index.php?theme=metronic_frontend" target="_blank">
          <span class="title">
            用户订单
          </span>
      </a>
    </li>
    <li>
      <a href="index_horizontal_menu.html">
        退货单
      </a>
    </li>
  </ul>
</li>
<li  class="last">
  <a href="javascript:;">
    <i class="fa fa-cogs"></i>
    <span class="title">账务中心</span>
    <span class="arrow "></span>
  </a>
  <ul class="sub-menu">
    <li>
      <a href="index_horizontal_menu.html">
        账务流水
      </a>
    </li>
  </ul>
</li>
</ul>
<!-- END SIDEBAR MENU -->
</div>
</div>